body {
    font-family: 'Josefin Sans', sans-serif;
}

.done {
    text-decoration: line-through;
    text-decoration-color: lightcoral;
}

#erase:hover {
    background-color: lightcoral;
    border-radius: 25%;
}

